.wrap {
  padding: 20px 0 0 20px;
}
.theame {
  text-decoration: underline;
}
.tests {
  margin-top: 20px;
}
.answer {
  margin-top: 10px;
}
.answer input {
  display: inline-block;
  vertical-align: text-top;
  margin-right: px;
  cursor: pointer;
}
