.wrap {
  padding: 20px 0 0 20px;
}
.outputCity {
  margin: 10px 0 10px 10px;
  color: #333;
  font: 700 18px/22px Arial sans-serif;
}
.inputCity {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#selectCity {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#selectCity:focus,
.inputCity:focus {
  outline: none;
}
button.includeCity {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: #00aff0;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
button.includeCity:active {
  box-shadow: none;
}
button.includeCity:focus {
  outline: none;
}
.resultCount {
  margin: 20px 0 0 10px;
  font-size: 18px;
  font-weight: 700;
}
